<div>
  <!-- ngx-scanner-qrcode -->
  <ngx-scanner-qrcode #action="scanner" (data)="send($event)" (error)="onError($event)"></ngx-scanner-qrcode>

  <!-- data  -->
  <p class="data">{{ output }}</p>

  <!-- Loading -->
  <p *ngIf="action.isLoading">⌛ Loading video...</p>

  <!-- toggleCamera -->
  <button (click)="action.toggleCamera()" class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading">
    SCAN
  </button>
</div>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>Case Id</th>
      <th>Case Number</th>
      <th>Caption</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record in records">
      <th>{{record.caseId}}</th>
      <th>{{record.caseNumber}}</th>
      <th>{{record.caption}}</th>
    </tr>
  </tbody>
</table>

